body{
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    min-width: 100dvw;
    display: flex;
    justify-content: center;
    background-color: darkslategrey;
}
.login{
    font-family: Arial;
    background: #910a0a;
    width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50dvh;
    position: relative;
    top: 160px;
}

.btnentrar{
    display: block;
    background-color: antiquewhite;
}