body{
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    min-width: 100dvw;
    display: flex;
    justify-content: center;
    background-color: #E66700; 
    min-height: 100vh;
}
.login{
    font-family: Arial;
    background: #805533;
    width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50dvh;
    position: relative;
    top: 160px;
}

.tlogin{
    display: block;
    background-image : linear-gradient(#8B1E3F, #2a0e17);
    background-clip: text;
    position: relative;
    color: transparent;
    font-weight: bold;
    font-size: 60px;
    top: -30px;
}

.E-Mail{
    display: block;
    padding: 10px 20px;
    position: relative;
    top: -55px;
}

.Senha{
    display: block;
    padding: 10px 20px;
    position: relative;
    top: -45px;
}

.CPF{
    display: block;
    padding: 10px 20px;
    position: relative;
    top: -35px;
}

.btnentrar{
    display: inline-block;
    position: relative;
    top: 10px;
    right: -100px;
    padding: 10px 33px;
    background-color: #4C3C2E;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    color: #FFFFFF;
}

.btnentrar:hover {
  background-color: #332D29;
}

.btncc{
    display: inline-block;
    position: relative;
    top: -29px;
    left: -100px;
    padding: 10px 20px;
    background-color: #4C3C2E;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    color: #FFFFFF;
}

.btncc:hover {
  background-color: #332D29;
}